.Welcome {
  padding: 60px 0 24px;
  background-image: url("../../assets/images/architecture-artistic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  .title, .main-text {
    font-family: "Lugrasimo", cursive !important;
  }

  .title {
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 90px;
  }

  .main-text {
    background: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 80%);
    font-size: 40px;
    margin-bottom: 0;
    max-width: 700px;
    text-align: center;
  }
}
