.Enter {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../../assets/images/hogwarts-library.jpg");
    background-size: auto 100%;
    color: white;
}

.Enter .title {
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 100px;
}

.Enter .main-text {
    font-size: 35px;
    margin-bottom: 24px;
    max-width: 700px;
    text-align: center;
}
